.login-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

.login-container mat-form-field:nth-child(2) {
    margin-top: 10px;
}

.login-container #error_from_server {
    font-size: 75%;
    text-align: center;
}

mat-dialog-actions {
    justify-content: center;
}