<h4 class="mat-dialog-title">{{'register.header' | translate}}</h4>
<form (ngSubmit)="register()" [formGroup]="registerForm" novalidate>
    <mat-dialog-content>
        <div class="register-container">
            <mat-form-field>
                <input type="email" matInput [placeholder]="'login.email.label' | translate" formControlName="emailFormControl">
                <mat-error *ngIf="emailFormControl.errors?.pattern && emailFormControl.touched">{{'login.email.errors.pattern' | translate}}</mat-error>
                <mat-error *ngIf="emailFormControl.errors?.required && emailFormControl.touched">{{'login.email.errors.required' | translate}}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input type="password" matInput [placeholder]="'login.password.label' | translate" formControlName="passwordFormControl">
                <mat-error *ngIf="passwordFormControl.errors?.required && passwordFormControl.touched">{{'login.password.errors.required' | translate}}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input type="password" matInput [placeholder]="'register.passwordConfirm.label' | translate" formControlName="passwordConfirmationFormControl">
                <mat-error *ngIf="passwordConfirmationFormControl.errors?.required && passwordConfirmationFormControl.touched">{{'login.password.errors.required' | translate}}</mat-error>
            </mat-form-field>

            <button mat-button color="primary">
                <span matTooltip="{{'register.fullData.info' | translate}}" matTooltipPosition="above">
                    {{'register.fullData.expandButtonLabel' | translate}}
                </span>
            </button>

        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button type="submit" mat-button color="primary" [disabled]='!registerForm.valid'>
            <mat-icon>done</mat-icon>{{ 'shared.apply' | translate }}
        </button>
        <button type="button" mat-button color="primary" (click)="cancel()">
            <mat-icon>cancel</mat-icon>{{ 'shared.cancel' | translate }}
        </button>
        <button type="button" mat-button color="primary" (click)="setAddressEmail()">
            Dodaj adres email
        </button>
        <button type="button" mat-button color="primary" (click)="setTestData()">
            Wstaw dane testowe
        </button>
    </mat-dialog-actions>
</form>